<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tony Ponce de Leon</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>About Tony Ponce de Leon</h1>
    </header>
    <main>
        <section>
            <h2>Professional Background</h2>
            <p>Tony Ponce de Leon is a freelance data analyst with extensive experience working with the National Weather Service, the Census Bureau, and in the architecture sector.</p>
        </section>
        <section>
            <h2>Current Role</h2>
            <p>Currently, Tony is dedicated to education, teaching at the high school level at Cinco Ranch High School.</p>
        </section>
        <section>
            <h2>Future Aspirations</h2>
            <p>Tony is in the exploratory phase of possibly running a campaign to run for a trustee position on the Katy ISD school board.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Tony Ponce de Leon. All rights reserved.</p>
    </footer>
</body>
</html>
